# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Game/.vs/Game/v16/.suo
Game/.vs/Game/v16/Browse.VC.db
Game/.vs/Game/v16/ipch/AutoPCH/1cde795f81c43b66/ACTOR.ipch
Game/.vs/Game/v16/ipch/AutoPCH/2fffd49cb36737c0/RENDER.ipch
Game/.vs/Game/v16/ipch/AutoPCH/8da61ddb31231e82/GAME.ipch
Game/.vs/Game/v16/ipch/AutoPCH/f5dbd4e561b202c3/ACTOR.ipch
Game/Game/Debug/Game.log
Game/Game/Debug/Game.tlog/CL.command.1.tlog
Game/Game/Debug/Game.tlog/CL.read.1.tlog
Game/Game/Debug/Game.tlog/CL.write.1.tlog
Game/Game/Debug/Game.tlog/link.command.1.tlog
Game/Game/Debug/Game.tlog/link.read.1.tlog
Game/Game/Debug/Game.tlog/link.write.1.tlog
Game/.vs/Game/v16/ipch/AutoPCH/e29ac18cbd9c3dc9/COMPONENT.ipch
Game/.vs/Game/v16/Browse.VC.db-shm
Game/.vs/Game/v16/Browse.VC.db-wal
Game/.vs/Game/v16/Browse.VC.opendb
Game/.vs/Game/v16/ipch/AutoPCH/72c5d997d1bdc4ea/VERTEXXARRAY.ipch
Game/.vs/Game/v16/ipch/AutoPCH/8bbba2438b2ede1/VERTEXARRAY.ipch
Game/.vs/Game/v16/ipch/AutoPCH/f29ea554677293d8/VERTEXARRAY.ipch
Game/Game/Debug/Game.res
Game/Game/Debug/Game.tlog/fxc.command.1.tlog
Game/Game/Debug/Game.tlog/fxc.read.1.tlog
Game/Game/Debug/Game.tlog/rc.command.1.tlog
Game/Game/Debug/Game.tlog/rc.read.1.tlog
Game/Game/Debug/Game.tlog/rc.write.1.tlog
*.aps
*.rc
*.h
*.ipch
